@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}




body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0F6C68;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.gradient-bg {
  background: radial-gradient(circle at 47% 0%, rgba(15, 108, 104, 1) 4%, rgba(233, 233, 233, 1) 54%);
  
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}